


.ex-1-square{
  transition: background-color 5s;
}

.ex-1-square:hover{
  background-color: red;
}


.ex-2-square{
  transition-duration: 2s;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square{
  transition-duration: 5s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition-duration: 5s;
}

.ex-4-square:hover{
  background-color: rgba(0, 0, 0, 0);
}


.ex-5-square:hover{
  transform: scale(1.5, 1.5);
}

.ex-5-square:active{
  transform: scale(0.7);
}


.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition-duration: 2s;
}

.ex-7-img:hover{
  filter: contrast(200%) hue-rotate(50deg);
}

.ex-8-img{
  transition-duration: 3s;
  transition-timing-function: linear;
}

.ex-8-img:hover{
  filter: drop-shadow( 30px 30px 5px brown) saturate(50%);
  border-radius: 25px;
}

.ex-9-img:hover{
  filter: saturate(50%) grayscale(10%);
  border-radius: 30px;
  transform: scale(2);
}

.ex-10-icon{
  animation-name: muovi-cerchio;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes muovi-cerchio {
  0%{
    transform: rotate(0deg)
  }

  100%{
    transform: rotate(360deg)
  }
}

.ex-11-icon{
  animation-name: move-alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-iteration-count: alternate;
}

.ex-11-icon:hover{
  animation: move-alternate;
}

@keyframes move-alternate {
  0%{
    transform: rotate(0deg)
  }

  60%{
    transform: rotate(90deg)
  }

  75%{
    transform: rotate(270deg)
  }
}

.ex-12-top-white{
  animation-name: border-top-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes border-top-move {
  0%   {left: 37%; top: -10px;}
  25%  {left: 50%; top: -10px;}
  75%  {left: 69%; top: -10px;}
}

.ex-12-bottom-white{
  animation-name: border-bottom-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes border-bottom-move {
  0%   {right: 37%; bottom: -10px;}
  25%  {right: 50%; bottom: -10px;}
  75%  {right: 69%; bottom: -10px;}
}



.ex-13-top-white {
  animation-name: rotete-top;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  
}


@keyframes rotete-top {

  0%{
    transform: rotate(0deg)
  }

  50%  {left: 83%; top: -10px;}

  50%  {transform: rotate(90deg)}

  55% {left: 90%; top: 5px;}
