


.ex-1-square{
  transition-duration: 5s;
}

.ex-1-square:hover{
  background-color: red;
}


.ex-2-square{
  transition-duration: 5s;
}

.ex-2-square:hover{
  width: 500px;
}

.ex-3-square{
  transition-duration: 5s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition-duration: 5s;
}

.ex-4-square:hover{
  background-color: rgba(0, 0, 0, 0);
}

.ex-5-square{

}

.ex-5-square:hover{
  

}

.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition-duration: 2s;
}

.ex-7-img:hover{
  filter: contrast(200%) hue-rotate(50deg);
}

.ex-8-img{
  transition-duration: 3s;
  transition-timing-function: linear;
}

.ex-8-img:hover{
  filter: drop-shadow( 30px 30px 5px brown) saturate(50%);
  border-radius: 25px;
}